<div class="container bg-light mt-5" >
    <!-- <h1 class="text-center display-3 text-red">Peliculas</h1> -->
    <img class="col-md-7 mx-auto d-block my-3 pt-4" src="../../../assets/logo.svg" alt="the-movie-db">
    <div class="d-flex flex-row-3 justify-content-center col-md-10 mx-auto flex-wrap"infiniteScroll [infiniteScrollDistance]="2"  (scrolled)="onScroll()">
            
            <div *ngFor="let item of items" class="col-md-3 cubo shadow p-3 mx-2 bg-white rounded">
                <a class="text-decoration-none text-muted" routerLink="/movie/{{item.id}}">
                    <img class="mx-auto d-block " src="{{imageUrl(item)}}" alt="">
                    <h5 class="text-center" *ngIf="item.media_type=='tv'">{{item.name}}</h5>
                    <h5 class="text-center" *ngIf="item.media_type=='movie'">{{item.title}}</h5>
                    <h5 class="text-center" *ngIf="item.media_type=='person'">{{item.name}}</h5>
                
                </a>
            </div>
            <div *ngIf=(!there)>
                
                <div class="alert alert-warning" role="alert">
                    No hay Peliculas/Series 404
                  </div>
                <img class="d-block col-md-2 col-6 mx-auto" src="../../../assets/lupa.svg" alt="No hay Resultados">
            </div>
        </div>
        <button [ngClass]="'no-hidden'" *ngIf="showGoUpButton" class="btn btn-success btn-block my-5" (click)="scrollTop()">Subir</button>
<style>
    .cubo{
        background: #fff;
        height: 240px;
        margin: 2px;  
    }
    .cubo img{
        max-width: 180px;
        max-height: 200px;
    }
</style>